<!doctype html>
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
<meta name="viewport" content="width=device-width, initial-scale=1" />


<div class="bg-slate-100 min-h-screen bg-slate-300">
    <header class="flex items-center justify-center text-2xl h-12 w-screen bg-slate-900 text-slate-50">
        <span class="cursor-default"><a href="/">Me</a> <span class="opacity-50 cursor-default">|</span> <a href="/blog">Blog</a></span>
    </header>
    <div class="grid grid-cols-12 text-slate-900">
        <div class="unvisible sm:visible sm:col-span-1 md:col-span-2 lg:col-span-3"></div>
        <div class="col-span-12 sm:col-span-10 md:col-span-8 lg:col-span-6 mt-5">
            {% block contents %}{% endblock %}
        </div>
        <div class="unvisible sm:visible sm:col-span-1 md:col-span-2 lg:col-span-3"></div>
    </div>
</div>