<!doctype html>
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
<script src="{{url_for('static', filename='src/jquery.js')}}" defer></script>
<!-- <script src="{{url_for('static', filename='js/main.js')}}" defer></script> -->
<meta name="viewport" content="width=device-width, initial-scale=1" />


<div data-theme="coffee" class="min-h-screen">
    <header class="flex items-center justify-center text-2xl h-12 w-screen bg-base-300">
        <div class="flex justify-between items-center gap-x-2 cursor-default">
            <a href="/">Me</a>
            <div class="opacity-50">|</div>
            <a href="/blog">Blog</a>
            {% if g.user %}
                <div class="opacity-50">|</div>
                <a class="text-neutral-content" href="/create">New Post</a>
                <div class="opacity-50">|</div>
                <a class="text-neutral-content" href="/status">Status</a>
            {% endif %}
        </div>
    </header>
    <div class="grid grid-cols-12 text-neutral-content">
        <div class="unvisible sm:visible sm:col-span-1 md:col-span-2 lg:col-span-3"></div>
        <div class="col-span-12 sm:col-span-10 md:col-span-8 lg:col-span-6 mt-5">
            {% block contents %}{% endblock %}
        </div>
        <div class="unvisible sm:visible sm:col-span-1 md:col-span-2 lg:col-span-3"></div>
    </div>
</div>